################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorControls/BlazorDemo/bin/
/BlazorControls/BlazorDemo/obj/
/BlazorControls/.vs/
