################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorControls/BlazorDemo/bin/Debug/netstandard2.1
/BlazorControls/BlazorDemo/obj
/BlazorControls/.vs/BlazorControls
